      
      <div class="jumbotron">
          <h1 class="display-3"><%= @user.first_name %> <%= @user.last_name %></h1>
          <p class="lead"> <%= @user.description %> </p>
          <hr class="my-4">
          <p><%= @user.email %> </p>
            <p><%= @user.age %> years old </p>
              <p><%= link_to @user.city.name, "../cities/#{@user.city_id}" %></p> </p>
          </div>

          <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-around; padding-top: 100px">
              <% @gossips.each do |gossip| %>
              <% if gossip.user.id == @user.id %>
              <div class="card text-white bg-secondary mb-3" style="width: 20rem;">
                  <div class="card-header"><%= User.find(gossip.user_id).first_name %>  <%= User.find(gossip.user_id).last_name %>  </div>
                  <div class="card-body">
                    <h4 class="card-title"> <%= link_to "#{gossip.title}", "../gossips/#{gossip.id}" %> </h4>
                    <p><% if session[:user_id]%>
                      <% pre_like = gossip.likes.find { |like| like.user_id == current_user.id} %>
                      <% if pre_like %>
                          <%= button_to 'Unlike', gossip_like_path(gossip, pre_like), method: :delete %>
                      <% else %>
                          <%= button_to 'Like', gossip_likes_path(gossip), method: :post %>
                      <% end %></p>
             <% end %></p>
             <p><%= gossip.likes.count %> <%= (gossip.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                  </div>
                </div>
                <% end %>
                <% end %>
                </div>
